body {
    background: rgb(221,0,0);
background: linear-gradient(90deg, rgba(221,0,0,1) 0%, rgba(14,0,10,1) 75%);
}

h1 {
    color: red;
        font-family: 'Bebas Neue', cursive;
        font-size: 200px;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 0;
        border-color: black;
        -webkit-text-stroke: 1px black;
}

.ironman {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}